<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Formulario Categoría</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-4">
    <h1 th:text="${categoria?.id == null ? 'Agregar Categoría' : 'Editar Categoría'}"></h1>
    <form th:action="@{/categorias/guardar}" th:object="${categoria}" method="post">

        <!-- Campo para ingresar ID manualmente -->
        <div class="form-group">
            <label>ID</label>
            <input type="number" class="form-control" th:field="*{id}" required>
        </div>

        <div class="form-group">
            <label>Nombre</label>
            <input type="text" class="form-control" th:field="*{nombre}" required>
        </div>
        <button type="submit" class="btn btn-primary">Guardar</button>
        <a th:href="@{/categorias}" class="btn btn-secondary">Cancelar</a>
        <a th:href="@{/}" class="btn btn-info">Regresar al Inicio</a> <!-- Botón de regreso al inicio -->
    </form>
</div>
</body>
</html>
