<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Productos</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-4">
  <h1>Lista de Productos</h1>
  <a th:href="@{/productos/nuevo}" class="btn btn-primary mb-3">Agregar Producto</a>
  <a th:href="@{/}" class="btn btn-info mb-3">Regresar al Inicio</a> <!-- Botón de regreso al inicio -->

  <table class="table table-bordered">
    <thead>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Precio</th>
      <th>Stock</th> <!-- Nueva columna para Stock -->
      <th>Categoría</th>
      <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="producto : ${productos}">
      <td th:text="${producto.id}"></td>
      <td th:text="${producto.nombre}"></td>
      <td th:text="${producto.precio}"></td>
      <td th:text="${producto.cantidad}"></td> <!-- Visualización del Stock -->
      <td th:text="${producto.categoria.nombre}"></td>
      <td>
        <a th:href="@{/productos/editar/{id}(id=${producto.id})}" class="btn btn-warning">Editar</a>
        <a th:href="@{/productos/eliminar/{id}(id=${producto.id})}" class="btn btn-danger">Eliminar</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>
